*{
    font-family: Arial , cursive;
}

.container{
    border-radius:5px;
    padding:20px;
    width:48%;
    margin:auto;
    background-color:rgba(255, 224, 184, 0.897);
    box-shadow:0px 0px 15px grey;
}
.title{
    text-align:left;
}
.ct_img{
    width:100%;
    text-align:center;
}
img{
    width:50%;
    border-radius:50%;
}
.txt_ent{
    width:97%;
    margin:auto;
    background-color:white;
    outline:0;
    border:1px solid rgb(187, 187, 187);
    padding:10px;
    border-radius:5px;
}
.button{
    color:white;
    width:100%;
    margin:auto;
    padding:10px;
    font-size:110%;
    margin-top:20px;
    margin-bottom:4px;
    background-color:rgb(64, 182, 64);
    outline:0;
    border:0;
    cursor:pointer;
    border-radius:4px;
}
.checkbox{
    background-color:white;
    margin-top:10px;
    border: 0;
    outline:0;
    border:1px solid rgb(187, 187, 187);
    border-radius:5px;
}
